.titulo{
    color: beige;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
} 

.contador button{
    display: inline;
    margin-left: 20px;
}

.click{
    display: inline;
    margin-left:20px;
    color: beige;
}

.tituloContador{
    color: beige;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}