.itemImg{
    width: 250px ;
    border: #404127 solid 5px;
    margin-left: 60%;
    grid-column: auto;
}

.itemNombre{
    text-align: center;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    grid-row: 2/2;
    margin-left: 80%;
}

.itemPrecio{
    text-align: center;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    grid-row: 3/3;
    margin-left: 85%;
}

.itemLink{
    text-align: center;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    grid-row: 4/4;
    margin-left: 80%;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
    padding-top: 20px;
}
